@import '../../main-style.scss';

.note-card-container {
  position : relative;
  background: #fabadf;
  border-radius: 5px;
  box-shadow: 0 2px 15px 2px rgba(159, 81, 245, 0.5);
  transition: box-shadow 0.2s ease-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(159, 81, 245, 0.25);

    .x-button {
      opacity: 1; //show the button when hover
      transition-delay: 0.35s;
      transform: scale(1);

    }
  }

  .note-card-content {
    padding: 25px;

    .note-card-title {
      font-size: 25px;
      font-weight: bold;
      color: $purple;
    }

    .note-card-body {
      position : relative;
      color : #455a18;
      //the maximum height before it's truncated
      max-height: 120px;
      overflow: hidden;

      .fade-out-truncation {
        position: absolute;
        pointer-events: none;
        bottom: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(250,186,223,0) 0%, rgba(250,186,223,0.8) 50%, rgba(250,186,223) 100% );
      }
    }
  }
}

.x-button {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 34px;
  width: 34px;
  background-color: $light-red;
  background-image: url('../../assets/delete_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  opacity: 0; //set the button hidden by default
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  transform: scale(0.35);

  &:hover {
    background-color: darken($light-red, 2%);
  }

  &:active {
    background-color: darken($light-red, 5%);
  }
}
